* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

#grid-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "bienvenida"
    "asesoria"
    "guia"
    "footer";
}

header {
  grid-area: cabecera;
  background-color: rgba(250, 250, 250, 0.8);
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
}

.enlace__logo {
  font-size: 16px;
}

span {
  font-size: 17px;
}

.logo {
  height: 60px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: right;
}

@media (min-width: 480px) {
  .enlace__logo {
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }
}

/* ///////////////////FIN BARRA DE NAVEGACION///////////////////////////// */

/*FOOTER*/
footer {
  grid-area: footer;

}

/* ////////////////////////FIN FOOTER//////////////////////// */



/* ////////////////////////PAGINA INDEX//////////////////////// */
/*SECCION BIENVENIDA*/
.bienvenida {
  grid-area: bienvenida;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/desarrolloweb.jpeg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
}

.bienvenida__contenido {
  margin: 0 20vw;
  font-family: 'Open Sans', sans-serif;
}

.bienvenida__titulo {
  font-size: 22PX;
}

.bienvenida__parrafo {
  font-size: 15px;
}

@media (min-width: 1024px) {
  .bienvenida__titulo {
    font-size: 30PX;
  }

  .bienvenida__parrafo {
    font-size: 20px;
  }
}


/*SECCION ASESORIA*/
.asesoria {
  grid-area: asesoria;
  display: flex;
  flex-direction: column-reverse;
  margin: 30px 20px;
  align-items: center;
  justify-content: center;
}

.asesoria img {
  width: 250px;
  margin: 20px 0;
}

.asesoria__contenido {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.asesoria__contenido--titulo {
  font-size: 30px;
  text-align: center;
  font-weight: 800;
}

.asesoria__contenido--descripcion {
  font-size: 15px;
}

.btn__contacto {
  font-size: 15px;
  font-weight: 900;
  transition: all ease-out 0.2s;
}

.btn__contacto:hover {
  background-color: #000000;
  color: #fff;
  transform: scale(1.1);
}

@media (min-width: 480px) {
  .asesoria img {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .asesoria {
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
    align-items: center;
    justify-content: center;
  }

  .asesoria img {
    width: 350px;
    margin: 20px 10PX;
  }

  .asesoria__contenido--titulo {
    font-size: 30px;
  }

  .asesoria__contenido--descripcion {
    font-size: 18px;
  }

  .btn__contacto {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .asesoria__contenido--titulo {
    font-size: 45px;
  }

  .asesoria__contenido--descripcion {
    font-size: 20px;
  }

  .asesoria img {
    width: 450px;
  }
}


/*SECCION GUIA*/
.guia {
  grid-area: guia;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgb(0, 0, 0, 0.01));
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

.text-shadow {
  text-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);
}

.card-border {
  border: solid 10px #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover {
  transform: scale(1.05);
}

.imagen__guia {
  width: 100px;
}

.guia__contenido--titulo {
  font-size: 18px;
  font-weight: 800;
}

.guia__contenido--descripcion {
  font-size: 15px;
}

.card__guia {
  height: 300px;
}

/* ////////////////////////FIN PAGINA INDEX//////////////////////// */


/* ////////////////////////PAGINA SERVICIOS//////////////////////// */
#grid-servicios {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "titulo"
    "servicios__app__web"
    "servicios__posicionamiento"
    "footer";
}

.servicios__encabezado {
  grid-area: titulo;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/nuestros-servicios-fondo.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-border-servicio {
  border: solid 10px #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.3s;
}

.card-border-servicio:hover {
  transform: scale(1.05);
  background-color: rgba(10, 8, 74, 0.645);
  color: #fff;
}


/*SERVICIOS APP WEB*/
#servicios__app__web {
  grid-area: servicios__app__web;
  color: black;
  margin: 0px 20px 10px 0px;
}

/*SERVICIOS POSICIONAMIENTO*/
#servicios__posicionamiento {
  grid-area: servicios__posicionamiento;
  color: black;
  margin: 10px 20px 10px 20px;
}

.titulo__texto-servicio {
  font-size: 22px;
  font-weight: 900;
}


@media (min-width: 480px) {
  .titulo__texto-servicio {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  .titulo__texto-servicio {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .titulo__texto-servicio {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .titulo__texto-servicio {
    font-size: 50px;
  }
}

/* ////////////////////////FIN PAGINA SERVICIOS//////////////////////// */


/* ////////////////////////PAGINA QUIENES SOMO//////////////////////// */
/*QUIENES SOMOS*/
#grid-quienessomos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "titulo"
    "quienessomos"
    "tecnologias"
    "porque_elegirnos"
    "ubicacion"
    "footer";
}

.nosotros__encabezado {
  grid-area: titulo;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/nosotros.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Servicios__encabezado-titulo {
  font-weight: 700;
  color: rgba(255, 255, 255, .7) !important;
}

.quienessomos {
  grid-area: quienessomos;
  display: flex;
  flex-direction: column-reverse;
  margin: 20px 10px;
}

.quienessomos__contenido {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.quienessomos__contenido h1 {
  font-weight: 800;
  font-size: 23px;
}

.quienessomos__contenido p {
  font-size: 15px;
}

.quienessomos__imagen {
  text-align: center;
}

.quienessomos__imagen img {
  width: 80vw;
}

@media (min-width: 480px) {
  .quienessomos {
    flex-direction: row;
    margin: 20px 10px;
    align-items: center;
  }

  .quienessomos__imagen img {
    width: 210px;
  }
}

@media (min-width: 600px) {}

@media (min-width: 768px) {
  .quienessomos__imagen img {
    width: 350px;
  }

}

@media (min-width: 1024px) {

  .quienessomos {
    margin: 20px 40px;
  }

  .quienessomos__imagen img {
    width: 450px;
  }

  .quienessomos__contenido {
    padding: 30px;
  }

  .quienessomos__contenido h1 {
    font-weight: 800;
    font-size: 30px;
  }

  .quienessomos__contenido p {
    font-size: 23px;
  }
}



/* SECCION TECNOLOGIAS*/
.tecnologias {
  grid-area: tecnologias;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  background-color: rgba(179, 179, 179, 0.35);
  margin: 20px 0;
}

.tecnologia__nombre {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
}

.imagen__tecnologia {
  cursor: pointer;
  transition: all ease-out0.2s;
}

.imagen__tecnologia:hover {
  transform: scale(1.1);
}

@media (min-width: 480px) {
  .tecnologia__nombre {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .tecnologia__nombre {
    font-size: 17px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  .tecnologia__nombre {
    font-size: 20px;
  }
}

/* SECCION PORQUE ELEGIRNOS*/
.porque__elegirnos {
  grid-area: porque_elegirnos;
}

.text-card h5,
.text-card p {
  font-size: 15px;
}


@media (min-width: 480px) {

  .text-card h5,
  .text-card p {
    font-size: 17px;
  }
}

@media (min-width: 600px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  .text-card h5,
  .text-card p {
    font-size: 23px;
  }
}



/* SECCION UBICACION*/
.ubicacion {
  grid-area: ubicacion;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: rgb(39, 61, 51);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.ubicacion__contenido {
  margin: 20px;

}

.ubicacion__contenido--titulo {
  font-size: 25px;
  margin-bottom: 8px;
}

.ubicacion__contenido--direccion {
  font-size: 12px;
}

.ubicacion__contenido--vermapa {
  margin: 20px 0;
  font-size: 15px;
}

.ubicacion__contenido--vermapa a {
  border: white solid 1px;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.ubicacion__mapa {
  width: 100%;
  text-align: left;
}

.ubicacion__mapa img {
  width: 100vw;
  margin: 0;
  padding: 0;
}

@media (min-width: 480px) {
  .ubicacion__contenido--titulo {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .ubicacion__contenido--direccion {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .ubicacion {
    flex-direction: row;
  }

  .ubicacion__contenido {
    margin: 10px;
    width: 60%;
  }

  .ubicacion__contenido--titulo {
    font-size: 25px;
    margin-bottom: 8px;
  }

  .ubicacion__contenido--direccion {
    font-size: 12px;
  }

  .ubicacion__mapa img {
    width: 60vw;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {

  .ubicacion__contenido--titulo {
    font-size: 40px;
  }

  .ubicacion__contenido--direccion {
    font-size: 15px;
  }

  .ubicacion__contenido--vermapa {
    font-size: 18px;
  }

}

/* ////////////////////////FIN PAGINA QUIENES SOMO//////////////////////// */


/* ////////////////////////PAGINA PREGUNTAS//////////////////////// */
/*PREGUNTAS*/
#grid-dudas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "titulo"
    "dudas"
    "footer";
  font-family: 'Open Sans', sans-serif;
}

.dudas__encabezado {
  grid-area: titulo;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/dudas-cabecera.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dudas {
  grid-area: dudas;
}

@media (min-width: 480px) {
  .imagen__dudas {
    text-align: center;
  }

  .imagen__dudas img {
    width: 50%;
  }
}

@media (min-width: 600px) {}

@media (min-width: 768px) {

  .imagen__dudas img {
    width: 100%;
  }

  .preguntas {
    width: 500px;
  }

}

@media (min-width: 1024px) {

  .preguntas {
    width: 700px;
  }

}

/* ////////////////////////FIN PAGINA PREGUNTAS//////////////////////// */


/* ////////////////////////PAGINA CONTACTO//////////////////////// */
/*CONTACTO*/
#grid-contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "cabecera"
    "titulo"
    "contenido"
    "footer";
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: white;

}

.contacto__encabezado {
  grid-area: titulo;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/contacto.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacto__encabezado-titulo {
  font-weight: 700;
  color: rgba(255, 255, 255, .7) !important;
}

.contenido {
  grid-area: contenido;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-size: 13px;
}

.logo {
  text-align: center;
  font-size: 2em;
}

.contenido__titulo {
  color: #000;
  padding: 15px 20px 0 20px;

}

.logo span {
  color: #110eb7;
  font-weight: 900;
  font-size: 20px;
}

.contacto {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.6);
  margin: 35px 15px;
  background-color: #161212a5;
  color: #fff;
}

@media (min-width: 480px) {
  .contenido {
    font-size: 15px;
  }

  .logo span {
    font-size: 23px;
  }
}

@media (min-width: 600px) {
  .contenido {
    font-size: 18px;
  }

  .logo span {
    font-size: 28px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}