#grid-servicios {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "titulo"
    "servicios__app__web"
    "servicios__posicionamiento"
    "footer";
}

.servicios__encabezado {
  grid-area: titulo;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/nuestros-servicios-fondo.jpg");
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-border-servicio {
  border: solid 10px #fff;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.3s;
}

.card-border-servicio:hover {
  transform: scale(1.05);
  background-color: rgba(10, 8, 74, 0.645);
  color: #fff;
}

/*SERVICIOS APP WEB*/
#servicios__app__web {
  grid-area: servicios__app__web;
  color: black;
  margin: 0px 20px 10px 0px;
}

/*SERVICIOS POSICIONAMIENTO*/
#servicios__posicionamiento {
  grid-area: servicios__posicionamiento;
  color: black;
  margin: 10px 20px 10px 20px;
}

.titulo__texto-servicio {
  font-size: 22px;
  font-weight: 900;
}

/*MEDIA QUERY*/
@media (min-width: 480px) {
  .titulo__texto-servicio {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  .titulo__texto-servicio {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .titulo__texto-servicio {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .titulo__texto-servicio {
    font-size: 50px;
  }
}