@import './../utilities/variables';
@import './../utilities/map';
@import './../components/button';
@import './../components/card';
@import './../utilities/mixins';

#grid-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "cabecera"
    "bienvenida"
    "asesoria"
    "guia"
    "footer";
}

/*SECCION BIENVENIDA*/
.bienvenida {
  grid-area: bienvenida;
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.5)), url("./../assets/images/desarrolloweb.jpeg");
  @include backgroud-imagen(50vh, cover, center);
  @include caja-flex(none, center, none);
  color: white;
  text-align: map-get($estilos, alineacion);
}

.bienvenida__contenido {
  margin: 0 20vw;
  font-family: 'Open Sans', sans-serif;

  .bienvenida__titulo {
    font-size: 22PX;
  }
  
  .bienvenida__parrafo {
    font-size: 15px;
  }
}

/*SECCION ASESORIA*/
.asesoria {
  grid-area: asesoria;
  @include caja-flex(column-reverse, center, center);
  margin: 30px 20px;
}

.asesoria img {
  width: 250px;
  margin: 20px 0;
}

.asesoria__contenido {
  font-family: 'Open Sans', sans-serif;
}

.asesoria__contenido--titulo {
  font-size: 30px;
  text-align: map-get($estilos, alineacion);
  font-weight: 800;
  color: $primary-color;
}

.asesoria__contenido--descripcion {
  font-size: 15px;
  color: $secondary-color;
}

.btn__contacto {
  @extend .boton;
  background-color: rgb(236, 232, 9);
  transition: all ease-out 0.2s;

  &:hover {
    background-color: #000000;
    color: #fff;
    transform: map-get($estilos, escala);
  }
}

/*SECCION GUIA*/
.guia {
  grid-area: guia;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgb(0, 0, 0, 0.01));
  font-family: 'Open Sans', sans-serif;
}

.text-shadow {
  text-shadow: $text-shadow;
}

.card-border {
  @extend .card-border;
  box-shadow: $box-shadow;
  transition: map-get($estilos, tTransicion);

  &:hover {
    transform: map-get($estilos, escala);
  }
}

.imagen__guia {
  width: 100px;
}

.guia__contenido--titulo {
  font-size: 18px;
  font-weight: 800;
}

.guia__contenido--descripcion {
  font-size: 15px;
}

.card__guia {
  height: 300px;
}

/*MEDIAQUERY*/
@media (min-width: 480px) {
  .asesoria img {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .asesoria {
    @include caja-flex(row, center, center);
    margin: 30px 20px;
  }

  .asesoria img {
    width: 350px;
    margin: 20px 10PX;
  }

  .asesoria__contenido--titulo {
    font-size: 30px;
  }

  .asesoria__contenido--descripcion {
    font-size: 18px;
  }

  .btn__contacto {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .bienvenida__titulo {
    font-size: 40px !important;
  }

  .bienvenida__parrafo {
    font-size: 20px !important;
  }

  .asesoria__contenido--titulo {
    font-size: 45px;
  }

  .asesoria__contenido--descripcion {
    font-size: 20px;
  }

  .asesoria img {
    width: 450px;
  }
}